{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}Корзина товаров{% endblock %}

{% block body_block %}
    <h1>Корзина товаров</h1>
    <table class="cart table table-bordered">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Полная цена</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}

            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{% url 'shop:product_details' product.id %}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %}{% endif %}" alt=""/>
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                            {{ item.update_quantity_form.as_p }}
{#                            {{ item.update_quantity_form.quantity }}#}
{#                            {{ item.update_quantity_form.update }}#}
{#                            {{ item. }}#}
                            {% csrf_token %}
                            <input type="submit" class="btn btn-info" value="Обновить">
                        </form>
                    </td>
                    <td><a href="{% url "cart:CartRemove" product.id %}">Удалить</a></td>
                    <td class="num">{{ item.price }} руб.</td>
                    <td class="num">{{ item.total_price }} руб.</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итого:</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} руб.</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop:index" %}" class="btn btn-primary">Продолжить покупки</a>
        <a href="{% url "orders:OrderCreate" %}" class="btn btn-default">Оформить заказ</a>
    </p>
{% endblock %}