div#catalog-items {
    display: block;
    margin-left: 16px;
    margin-right: 16px;
}

div.catalog-item {
    width: 33.33333%;
    float: left;
    margin-bottom: 20px;
}

img.img-responsive {
    max-width: 400px;
}

.cart img {
    max-width: 200px;
}

table.cart {
    width: 100%;
    margin: 10px 0;
}

th, td {
    padding: 5px;
}

thead {
    /*background: #2a6496;*/
    /*color: white;*/
}