{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title_block %}Список товаров{% endblock %}

{% block body_block %}
    {% if product_list %}
        <h2>Все товары</h2>
        <div id="catalog-items">
            {% for product in product_list %}
                <div class="catalog-item">
                    <div class="item-title">{{ product.name }}</div>
                    <a href="{% url 'shop:product_details' product.id %}">Подробнее</a>
                </div>
            {% endfor %}
        </div>
        <div style="clear: both"></div>
    {% else %}
        Пока товаров нет
    {% endif %}
{% endblock %}