{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title_block %}Купить {{ product.name }}{% endblock %}

{% block body_block %}
    <h1>{{ product.name }}</h1>
    <div>Категория: <a href="{% url 'shop:category_detail' product.category.slug %}">{{ product.category }}</a></div>

    <div class="col-md-6">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %}{% endif %}"
             class="img-responsive">
    </div>

    <div class="col-md-6">
        <p class="price">
            Цена: {{ product.price }} руб.
        </p>

        <form action="{% url "cart:CartAdd" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
    </div>

    <div class="col-md-12">
        <div>{{ product.description | linebreaks }}</div>
    </div>
{% endblock %}