{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load mptt_tags %}

{% block title_block %}Список всех категорий{% endblock %}

{% block body_block %}
    <h1>Список всех категорий</h1>
    <ul class="root">
        {% recursetree categories %}
            <li>
                <a href="{% url 'categories:category_detail' node.slug %}">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
{% endblock %}