{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title_block %}Категория {{ category.name }}{% endblock %}

{% if category.seo_keywords %}
    {% block keywords %}
        category.seo_keywords
    {% endblock %}
{% endif %}

{% block body_block %}
    <h1>Категория "{{ category.name }}"</h1>
    <div class="category-description">
        {% autoescape off %}{{ category.description }}{% endautoescape %}
    </div>
    {% if category.products.all %}
        {% for product in category.products.all %}
            <div class="catalog-item">
                <a href="{% url 'shop:product_details' product.id %}">
                    <img class="img-responsive" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %}{% endif %}">
                    <div class="item-title">{{ product.name }}</div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div>Товаров нет</div>
    {% endif %}
{% endblock %}