{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title_block %}Список товаров{% endblock %}

{% block body_block %}
    {% if product_list %}
        <h2>Все товары</h2>
        <div id="catalog-items">

            {% for product in product_list %}
                <div class="catalog-item">
                    <a href="{% url 'shop:product_details' product.id %}">
                        <img class="img-responsive" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %}{% endif %}">
                        <div class="item-title">{{ product.name }}</div>
                    </a>
                </div>
            {% endfor %}

        </div>
        <div style="clear: both"></div>
    {% else %}
        Пока товаров нет
    {% endif %}
{% endblock %}