{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title_block %}Купить {{ product.name }}{% endblock %}

{% block body_block %}
    <h1>{{ product.name }}</h1>
    <div>Категория: <a href="{% url 'categories:category_detail' product.category.slug %}">{{ product.category }}</a></div>

    <div class="col-md-6">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %}{% endif %}"
             class="img-responsive">
    </div>

    <div class="col-md-6">
        <p class="price">
            {% for price_data in product.prices.all %}
                Цена: {{ price_data.price }} руб. за {{ price_data.package_quantity }} {{ price_data.measure }}
            {% endfor %}
        </p>

        <form action="{% url "cart:CartAdd" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
    </div>

    <div class="col-md-12">
        <div>{% autoescape off %}{{ product.description }}{% endautoescape %}</div>
    </div>
{% endblock %}